4_LogicApp_template.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "LA-CustomLogExample-dev",
            "type":  "string"
        }
    },
    "variables":  {
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Hour",
                                "interval":  1
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Hour",
                                "interval":  1
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
             "HTTP_send_data_to_custom_table": {
                "inputs": {
                    "authentication": {
                        "audience": "https://monitor.azure.com",
                        "type": "ManagedServiceIdentity"
                    },
                    "body": [
                        {
                            "CustomColumn1": "data",
                            "CustomColumn2": "data",
                            "CustomColumn3": "data",
                            "TimeGenerated": "@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}"
                        }
                    ],
                    "headers": {
                        "": "application/json"
                    },
                    "method": "POST",
                    "uri": "@{variables('DCELogsIngestionURL')}/dataCollectionRules/@{variables('DCRImmutableID')}/streams/@{variables('DCRStreamName')}?api-version=2023-01-01"
                },
                "runAfter": {
                    "Initialize_variable_DCRImmutableID": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_variable_DCELogsIngestionURL": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DCELogsIngestionURL",
                            "type": "string",
                            "value": "https://[your url].ingest.monitor.azure.com"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_DCRImmutableID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DCRImmutableID",
                            "type": "string",
                            "value": "dcr-[your id]"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_DCRStreamName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_DCRStreamName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DCRStreamName",
                            "type": "string",
                            "value": "Custom-LogicAppExample"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_DCELogsIngestionURL": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
                     },
                    "outputs":  {
                    }
                },
                "parameters":  {
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
            ]
        }
    ]
}
